
body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction:row ;
    background-color:#b3d4fc ;
    align-items: center;
    justify-content:space-between;
    height: 100px;
   
    
    

}
.part0{
    height: 100px;
    width: 150px;
    
    
}

  

.butt2{
    background-color :#004E98;
    
    color: #fff;
    height: 100px;
    width: 150px;
    
    font-family: Raleway,Cairo;
    font-size: 15px;
    
    
}
.rec{
    background-color :#004E98;
    position: relative;
    color: #fff;
    height: 100px;
    width: 150px;
    font-family: Raleway,Cairo;
    font-size: 15px;
    

}





.butt3{ 
    background-color :#004E98;
    position: relative;
    color: #fff;
    height: 100px;
    width: 150px;
    font-family: Raleway,Cairo;
    font-size: 15px;
    
    
    
}
.butt4{
    background-color :#004E98;
    position: relative;
    color: #fff;
    height: 100px;
    width: 150px;
    font-family: Raleway,Cairo;
    font-size: 15px;

}


.text1{
    
    height: 100px;
    width: 150px;
    
    background-color: #004E98;
    color: white;

}
.part1{
    display: flex;
    flex-direction: row;
    
}

.butt5{
    background-color :white;
    color:black;
    position: relative;
    height: 100px;
    width:185px;
    
    
    font-family: Raleway,Cairo;
    font-size: 15px;
    border-radius: 15px;
    border-color:#b3d4fc ;

}
.nouv1{
    background-color :white;
    color:black;
    position: relative;
    height: 100px;
    width: 150px;
    
    
    font-family: Raleway,Cairo;
    font-size: 15px;


}
.part2{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
  
}
.butt6{
    height: 100px;
    width: 185px;
   
    text-decoration: none;
    background-color :white;
    color:black;
    font-family: Raleway,Cairo;
    font-size: 15px;
    border-radius: 15px;
    border-color:#b3d4fc ;
    
}
.lien1{
    color: black;
}
.img2{
   height: 544px;

}
.nouv2{
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#00243c ;
    font-size: 1.8rem;
    position: relative;
    font-family: Lato,Tajawal,sans-serif;
    

}
.card{
    border-radius: 20px;
   
    font-size: 15px;
    font-family: Raleway,Cairo;
    
   
}

.card-body{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    font-family: Raleway,Cairo;
    font-size: 15px;
    
}
.part3{
    display: flex;
    flex-direction:row ;
    gap: 25px;
}
.part4{
    display: flex;
    flex-direction: row;
    gap: 25px;

}
.part6{
    background: url(https://fsm.rnu.tn/stylesheets/images/shapes-2_04.png);
}
.text3{
    font-family: Raleway,Cairo;
    text-align: center; 
    font-weight: 400;
    font-family: Lato,Tajawal,sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #000;
    padding: 75px;
}
.part7{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.butt8{
    width: 500px;
    height:35px ;
}


.dropdown-menu{
    width: 500px;
   
}
.test{
    width: 300px !important;
}
.card8{
    width: 20%;
    background-color:#004E98 ;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
    font-family: Raleway,Cairo;
    font-size: 15px;
   
}
.card-img-top1{
    width: 75px;
    
} 
.part8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 50px;
    gap: 15px;

}
.fsm{
    width: 75%;
}
.Fsm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}
.p50{
    background:url('images/footer-bg-1.png');    
    
    

   
    display: flex;
    flex-direction:row;
    gap: 10px;
    
    
}
.footer{
    width:23%;
}
.p50{
    background: url(https://fsm.rnu.tn/stylesheets/images/footer-bg-1.png);
    color:white;
    padding-top: 143px;
    margin-top: 81px;
    position: absolute;
    margin: 0px auto 0 auto;
    width: 100%;
}
a {
    text-decoration: none; color: #fff;

     display: flex;
    flex-direction: column;
    
}
.btn1{
    color: #000;
    text-decoration: none;
}
.card :hover{
}



